#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: aliceblue;
	min-height: 100vh;
}

.main {
	background-color: white;
}

.notChoose {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
	font-size: 40px;
	font-weight: 900;
	line-height: 1.5;
	color: #212529;
	height: 300px;
}

.conteyner {
	min-width: 1000px;
	background-color: white;
}

.list {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 20px;

	&:hover {
		box-shadow: 0 24px 48px rgba(0, 0, 0, 0.25),
			0 10px 10px rgba(0, 0, 0, 0.22);
	}

	&:nth-child(even) {
		background-color: skyblue;
	}

	&__terminal {
		color: #63c745;
		font-weight: 700;
		border: 1px solid #63c745;
		border-radius: 50%;
		display: inline-block;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 35px;
		font-size: 22px;
	}

	&__localTime {
		flex-grow: 1;
		text-align: center;
		max-width: 60px;
		font-size: 20px;
	}

	&__nameLocation {
		flex-grow: 1;
		text-align: start;
		max-width: 180px;
		font-size: 20px;
		font-size: 20px;
	}

	&__factTimeDepartures {
		flex-grow: 1;
		text-align: center;
		max-width: 150px;
		font-size: 20px;
	}

	&__numberFly {
		flex-grow: 1;
		text-align: center;
		max-width: 100px;
		font-size: 20px;
	}

	&__nameAirCompany {
		display: flex;
		max-height: 188px;
		max-width: 232px;
		flex-grow: 1;
		text-align: center;
		font-size: 18px;
		display: flex;
		justify-content: space-around;

		&__logo {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 100%;
		}

		&__name {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 100%;
			text-align: start;
			min-width: 135px;
		}

		& img {
			width: 50px;
			height: 35px;
		}
	}
}

.notFound {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
	font-size: 40px;
	font-weight: 900;
	line-height: 1.5;
	color: #212529;
	height: 300px;
}

.blue {
	color: deepskyblue;
	border-color: deepskyblue;
}

.navOfTime {
	display: flex;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 50px;

	& a {
		text-decoration: none;
		color: black;
	}
}

.yesterday,
.today,
.tommorow {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50px;
	border: none;
	border-bottom: 4px solid lightgray;
	width: 100px;
	cursor: pointer;

	&__time {
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
			Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
		opacity: 0.8;
		font-size: 15px;
	}

	&__name {
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
			Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
		opacity: 0.8;
		font-size: 20px;
	}
}

.borderBlue {
	border-bottom: 4px solid deepskyblue;
	color: deepskyblue;
}
